{% extends 'task1/menu.html' %}
{% block pagename %}<h1>Игры</h1>{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}
{% block content %}
<hr>
    {% for new in news %}
<h2>{{ new.title }}</h2>
<br>
{{ new.content }}
<br>
<small style="float: right; margin-right: 20px;">{{ new.date }}</small>
<hr>
    {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if news.has_previous %}
        <a href="?page=1">&laquo; Первая</a>
        <a href="?page={{ news.previous_page_number }}">Предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ news.number }} из {{ news.paginator.num_pages }}.
        </span>

        {% if news.has_next %}
        <a href="?page={{ news.next_page_number }}">Следующая</a>
        <a href="?page={{ news.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
