{% extends 'main.html'%}
{% block crud_container %}
    {% if user %}
        <article class="card container fluid">
            <br>
            <h2>ID: {{user.id}}</h2>
            <p>
                <strong> Username: {{user.username}}</strong>
                <br>
                <strong> Age: {{user.age}}</strong>
            </p>
        </article>
    {% else %}
            <section class="container-fluid">
                <h2 align="center"> Users </h2>
                <br>
                <div class="card">
                    <ul class="list-group list-group-flush">
                        {% for user in users %}
                        <li class="list-group-item"> {{user.id}} <a href="/user/{{user.id}}"> {{user.username}} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
    {% endif %}
{% endblock %}
