{% extends "app/layout.html" %}

{% block content %}

<div id='wrap'>
    <div id='content'>
        <form action="" method="post">
            {% csrf_token %}
            <dl>
                <p>
                    <h4>Введите ИНН:</h4>
                    <div>
                        <input type='text' id='inn' name='inn' placeholder='Введите ИНН' required>
                    </div>
                </p>
                <p>
                    <input type="submit" value="Поиск">
                </p>
            </dl>
        </form>
    </div>
</div>

    {% if results %}
<div class="px-5 mx-5">
    <h1>Результаты:</h1>

    <h4>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <b>
                    <th>База данных</th>
                    <th>Результат</th>
                    </b>
                </tr>
            </thead>

            <tbody>
                {% for key, val in results.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{val}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </h4>
</div>
        {% endif %}

        {% endblock %}
