{% load static %}
<html>
<head>
    <title> {{title}} </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/fancyInput.css' %}" type="text/css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
    <div id='wrap'>
        <div id='content'>
            <form action="" method="post">
                {% csrf_token %}
                <section class='input'>
                    <div>
                        <input type='text' id='inn' name='inn' placeholder='Введите ИНН'>
                    </div>
                    <div>
                        <button type="submit">Поиск</button>
                    </div>
                </section>
            </form>
            {% for key, val in temp_results.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ val }}</td>
            </tr>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/fancyInput.js' %}"></script>
    <script>
        $('section :input').val('').fancyInput()[0].focus();
    </script>

    {{ content }}

</body>
</html>
